<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2017-2-11 20.18 拍摄的照片 #2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.18 拍摄的照片.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{1080,0},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.19 拍摄的照片 #2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{2160,0},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.19 拍摄的照片 #3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.19 拍摄的照片 #4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{1080,720},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.19 拍摄的照片.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{2160,720},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.20 拍摄的照片 #2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{0,1440},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2017-2-11 20.20 拍摄的照片.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,720}</string>
                <key>spriteSourceSize</key>
                <string>{1080,720}</string>
                <key>textureRect</key>
                <string>{{1080,1440},{1080,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadDaughter.png</string>
            <key>size</key>
            <string>{3240,2160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40caed5577dd22b34e2b6c6e085cf778:386f234780e4662568562194a505e0b7:944c09102895e1d9087d5f7a44f41ee7$</string>
            <key>textureFileName</key>
            <string>dadDaughter.png</string>
        </dict>
    </dict>
</plist>
